@font-face {
  font-family: 'Poppins Light';
  src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'DMSans Regular';
  src: url('../fonts/DMSans_18pt-Regular.ttf');
}

@font-face {
  font-family: 'DMSans Medium';
  src: url('../fonts/DMSans_18pt-Medium.ttf');
}

body {
  margin: 0;

  font-family: 'Poppins Regular';
  font-size: 18px;
  color: #000;

  line-height: 26px;
  /* padding-top: 49px; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.page-size {
  padding: 49px 0px 0px;
}

/* header */
.header {
  padding: 0px 160px 0px;
}

.header-logo {
  font-family: 'Poppins bold';
  color: rgb(63, 150, 121);
  font-size: 25px;
  /* margin-left: 100px; */
}

.nav img {
  margin: 0 7px;
  filter: grayscale();
  /* margin-right: 50px; */
}

.nav a {
  display: inline-block;
  vertical-align: top;
  margin: 0 27px;
  color: rgba(102, 102, 102, 1);
  text-decoration: none;
  align-items: center;
  font-family: 'DMSans Regular';
  font-size: 17px;
}

/* main */
.main {
  padding-top: 218px;
  align-items: center;
  margin: 0px 160px 0px;
  font-family: 'Poppins Bold';
  color: rgba(66, 68, 110, 1);
  font-size: 25px;
  line-height: 65px;
}

.main span {
  color: rgb(63, 150, 121);
}

.avatar {
  border: 9px solid;
  border-radius: 200px;

  border-color: rgb(63, 150, 121);
}

/* tech stack */
.tech {
  padding-top: 285px;
  /* line-height: 65px; */

}

.tech h2 {
  font-family: 'Poppins Bold';
  color: rgba(66, 68, 110, 1);
  font-size: 42px;
}

.tech p {
  font-family: 'Poppins Regular';
  color: rgba(102, 102, 102, 1);
  font-size: 25px;
}

.tech div {
  padding: 50px 0px 0px 0px;
}

.tech img {
  margin: 50px;
}

/* projects */
.project {
  padding-top: 150px;
}

.project h2 {
  font-family: 'Poppins Bold';
  color: rgba(66, 68, 110, 1);
  font-size: 30px;
}

.project p {
  font-family: 'Poppins Regular';
  color: rgba(102, 102, 102, 1);
  font-size: 20px;
}

.project .container {
  padding: 50px 0px 0px 0px;
  margin: 0;
}

.project .item {
  margin: 20px;
  width: 300px;
  height: 500px;
  background-color: #ccc;
  border-radius: 20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flix-center {
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
  max-height: 1200px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.container .item {}

/* .container .img {
  margin: 10px;
} */

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}