@font-face {
  font-family: 'Poppins Light';
  src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'DMSans Regular';
  src: url('../fonts/DMSans_18pt-Regular.ttf');
}

@font-face {
  font-family: 'DMSans Medium';
  src: url('../fonts/DMSans_18pt-Medium.ttf');
}

body {
  margin: 0;

  font-family: 'Poppins Regular';
  font-size: 18px;
  color: #000;

  line-height: 26px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* header */
.header {
  padding: 45px 160px 0px;
}

.logo {
  font-family: 'Poppins bold';
  color: rgb(63, 150, 121);
  font-size: 25px;

  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  background-clip: text;
  color: transparent;
}

.header-nav {
  padding-right: 38px;
}

.header-nav img {
  margin: 0 7px;
  filter: grayscale();
}

.header-nav a {
  display: inline-block;
  vertical-align: top;
  margin: 0 23px;
  color: rgba(102, 102, 102, 1);
  text-decoration: none;
  align-items: center;
  font-family: 'DMSans Regular';
  font-size: 18px;
  padding-right: 6px;
}

/* main */
.main {
  padding-top: 193px;
  align-items: center;
  margin: 0px 160px 0px;
  font-family: 'Poppins Bold';
  color: rgba(66, 68, 110, 1);
  font-size: 25px;
  line-height: 65px;
}

.main span {
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  background-clip: text;
  color: transparent;
}

.avatar {
  margin: 27px;
  border: 9px solid transparent;
  border-radius: 50%;


  background: repeating-linear-gradient(#E70FAA 0%, #00C0FD 100%);


}

/* tech stack */
.tech {
  padding-top: 260px;
}

.tech h2 {
  font-family: 'Poppins Bold';
  color: rgba(66, 68, 110, 1);
  font-size: 45px;
}

.tech p {
  line-height: 65px;
  font-family: 'Poppins Regular';
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
}

.tech div {
  padding: 20px 0px 0px 0px;
}

.tech img {
  margin: 57px 57px 0px;
}

/* projects */
.project {
  padding-top: 220px;
}

.project h2 {
  font-family: 'Poppins Bold';
  color: rgba(66, 68, 110, 1);
  font-size: 45px;
}

.project p {
  font-family: 'Poppins Regular';
  color: rgba(102, 102, 102, 1);
  font-size: 28px;
}

.project .container {
  padding: 42px 0px 0px 0px;
  margin: 0;
}

.project .item {
  box-shadow: 0px 0px 90px 30px rgba(85, 85, 85, 0.2);

  margin: 24px 20px;
  width: 337px;
  height: 514px;
  border-radius: 20px;
}

/* project card */
.txt-position {
  margin-top: 0px;
  padding: 0px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.item .title {
  justify-content: space-between;
  text-align: center;
  margin: 12px 0px 10px;

  font-family: 'Poppins Medium';
  font-size: 25px;
  color: rgba(0, 0, 0, 1)
}

.item .description {
  text-align: left;

  font-family: 'Poppins Light';
  line-height: 24px;
  margin: 0px;
  font-size: 15px;
  color: rgba(102, 102, 102, 1);
  padding: 0px;
}

.item .stack {
  font-family: 'Poppins Light';
  font-size: 12px;
  margin: 10px 0px 0px;
  color: rgba(102, 102, 102, 1);
}

.stack span {
  font-family: 'Poppins Regular';
  font-size: 14px;
}

.link-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 18px;
  padding-right: 20px;
}

div .link {

  justify-content: center;
  align-items: end;
}

div .link a {

  margin: 10px 0px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 1)
}

/* footer */
footer {
  padding: 160px 160px 0px;
}

footer .flex-between {
  align-items: center;
  color: rgba(66, 68, 110, 1);
}

footer .logo {
  color: rgba(66, 68, 110, 1);
}

.contact p {
  font-family: 'DMSans Regular';
  font-size: 16px;
  margin: 0px 25px;
  display: flex;
}

.contact div {
  padding-right: 12px;
}

.contact img {
  margin: 0px 10px;
}

.line {
  border-color: rgba(102, 102, 102, 1);
}

.footer-unnderline {
  padding: 25px 16px 15px;
}

.footer-unnderline p {
  font-family: 'Poppins Regular';
  font-size: 17px;

  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  background-clip: text;
  color: transparent;
}

.footer-unnderline p span {
  color: rgba(102, 102, 102, 1)
}


.footer-nav a {
  margin: 0px 20px;
  text-decoration: none;
  align-items: center;
  font-family: 'DMSans Regular';
  color: rgba(66, 68, 110, 1);
  font-size: 17px;
}





.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
  max-height: 1200px;
  margin: 0 auto;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.txt-center {
  text-align: center;
}